@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Nunito&family=Quicksand:wght@300;400;500&display=swap');

/****** Body ******/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: "Nunito", sans-serif;
    background: url(/dot-grid.png);
}

.container {
    width: 85%;
    overflow: hidden;
    margin: auto;
}

/****** NAVIGATION ******/
nav.navbar {
    font-size: 18px;
    background-color: transparent;
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
}

.navbar.scrolled {
    background-color: #ffffff !important;
    transition: background-color 0.3s ease-in;
}


.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.main-nav li {
    text-align: center;
    margin: 18px 0 10px 20px;
}

.logo {
    display: inline-block;
    font-size: 28px;
    margin-top: 5px;
    margin-left: auto;
    padding: 0 20px;
}

.logo-position {
    text-align: center;
}

.navbar-toggle {
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
    font-size: 19px;
}

.active {
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

/****** MOBILE NAVIGATION ******/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.2s;
}

.overlay .closeButton {
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 60px;
}

.bars {
    position: absolute;
    top: 18px;
    right: 18px;
}

.nav-links:hover,
.overlay a:hover {
    color: gray;
    transform: scale(1.1);
}

/*HEADER BANNER */

#particles-js {
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.banner-text {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    padding: 0 1%;
    top: 40vh;
    z-index: -1;
}

#typed {
    font-weight: 400;
}

.banner-text h1 {
    font-size: 50px;
}

.banner-text p {
    font-size: 20px;
    width: 35vw;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    font-style: italic;
}

.about-text {
    margin-top: 30px;
    text-align: justify;
}

.about-text a {
    text-decoration: none;
    color: #F76902;
}

.about-image {
    border-radius: 5%;
    max-width: 400px;
    width: 80%;
    height: auto;
}

.about-container {
    display: flex;
    flex-direction: column;
}

#about {
    padding-top: 90px;
}

.section-header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/****** PORTFOLIO ******/
.projects {
    color: #000000;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.project-box {
    box-shadow: 0 10px 10px 2px rgb(0 0 0 / 25%);
    background-color: #d9e2f447;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 15px;
    width: 90%;
    flex-basis: none;
    transition: 0.2s;
    height: fit-content;
}

.project-box h3 {
    margin-top: 15px;
    font-size: 24px;
}

#project-header {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.project-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-box img {
    transition: 0.2s ease-in;
}

.project-box img:hover {
    transform: scale(1.1);
}

#skills {
    color: black;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 80px;
}

.skill-box {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-text {
    font-size: 1em;
    padding: 10px;
    text-align: justify;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.project-button,
.about-button {
    background-color: white;
    border: 0.5px solid #000000;
    color: #000000;
    padding: 12px;
    width: 40%;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 10px 0px 10px;
    transition: 0.3s ease;
}

button:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}



/* EDUCATION TIMELINE */

#education,
#workex {
    padding-top: 90px;
}

.timeline {
    width: 100%;
    padding: 50px 0;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 95%;
    background: #CCD1D9;
    z-index: 1;
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block li {
    text-align: justify;
    line-height: 1.5;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}

.timeline-block-left li {
    direction: ltr;
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #F5F7FA;
    background: #000000;
    margin-top: 10px;
    z-index: 1;
}

.timeline-content {
    width: 95%;
    border: 1px solid #00000024;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 3px 0px 6px 2px #00000061;
}

.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 500;
}

.timeline-content span {
    font-size: 18px;
    color: #000000;
}

.timeline-content p,
.timeline-content li {
    font-size: 15px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
    text-align: justify;
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    .timeline:before {
        left: 8px;
        width: 2px;
    }

    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}


#skills h1 {
    margin-bottom: 15px;
}

i.devi {
    font-size: 5em;
}

#contact h1 {
    margin-bottom: 15px;
}

/* FOOTER */

footer {
    display: inline-grid;
    width: 100%;
    box-shadow: rgb(0 0 0 / 13%) 0 -6px 4px -4px;
    padding: 20px 0;
}

ul.footer-social-list {
    display: inline-grid;
    grid-gap: 30px;
    justify-items: center;
    margin: auto;
    list-style: none;
}

@media (min-width: 500px) {
    ul {
        grid-auto-flow: column;
    }
}

.footer-social-list a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.footer-social-list i {
    transition: 0.2s ease-in;
}

.footer-social-list i:hover {
    transform: scale(1.4);
}

li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer-social-list p {
    font-size: 35px;
}

.footer-social-list li:hover ~ li p {
    animation: wave-animation 0.4s infinite;
}

p.copyright-text {
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
}

.copyright-text i {
    color: orangered;
}

@keyframes wave-animation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-15deg);
    }
}


/****** Desktop responsive ******/
@media (min-width: 900px) {
    p {
        font-size: 20px;
    }

    #welcome-section h1 {
        margin-top: 100px;
    }

    .project-title {
        padding-top: 100px;
        padding-bottom: 15px;
    }

    .link-button,
    .contact-button {
        width: 15%;
    }

    .about-container {
        flex-direction: row;
    }

    .about-image {
        margin-right: 70px;
        margin-left: 60px;
    }

    .skill-box {
        display: flex;
        justify-content: space-around;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 40px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
        margin-left: 20px;
    }

    .navbar-toggle {
        display: none;
    }

    .input-box {
        display: flex;
        flex-direction: row;
    }

    .project-box {
        flex-basis: 40%;
    }

    .project-button,
    .link-button {
        font-size: 1em;
    }
}

/* Break elements if screen-size is less than 450 pixel */
@media only screen and (max-width: 550px) {
    .banner-text h1 {
        font-size: 30px;
        padding: 0 10px;
    }

    .banner-text p {
        width: 95%;
    }

    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 45px;
    }

    .overlay .closeButton {
        font-size: 40px;
    }
}
