<!-- Footer with minimal design -->
<footer class="minimal-footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-logo">
                <div class="footer-logo-text">simplysuvi</div>
            </div>
            <div class="footer-social">
                <a href="https://linkedin.com/in/simplysuvi" target="_blank" class="social-icon linkedin">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://github.com/simplysuvi" target="_blank" class="social-icon github">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://twitter.com/simplysuvi" target="_blank" class="social-icon twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="https://open.spotify.com/artist/0Qc2FzRFU7IeFUEYDijkCU" target="_blank"
                    class="social-icon spotify">
                    <i class="fa-brands fa-spotify"></i>
                </a>
                <a href="mailto:suvijain@gmail.com" target="_blank" class="social-icon email">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2025 Suvrat Jain. Designed with intention. Last updated November 2025.</p>
            <p>P.S. This footer was built just for you.</p>
        </div>
    </div>
</footer>
